header{
    background-image: url("../images/wood.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 42px;
    min-width: 616px;
}
nav{
    background-color:#2d383a;
    width: 325px;
    margin: auto;
    
}
li a{
    text-decoration: none;
    color: cornsilk;
    
}
li.current{
    border: 3px solid #EBEB00;
    border-radius: 10px;
    padding: 8px;
}
li.current a{
    text-decoration: underline;
    text-decoration-color: #EBEB00;
}
li.link{
    border: 3px solid #004466;
    border-radius: 10px;
    padding: 8px;
}
ul.links{
    text-align: center;
    border-style: outset;
    border-width: 8px;
    border-color: #004466;
}
.skip a{
    position: absolute;
    bottom: 1400px;
    overflow:hidden;
    font-size: 32px;
}
.skip a:focus, .skip a:active{
    position: relative;
    top: 0;
    overflow: visible;
    /* Got help on this part from this website: https://www.bignerdranch.com/blog/web-accessibility-skip-navigation-links/ */
  }
  main{
    margin: 40px;
    background-image: url(../images/code.jpg);
    min-height: 500px;
    width: fit-content;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* parrallex image, Thank you W3!: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_parallax */
  }
  h1{
      display: none;
  }
  .Fall2019 .Winter2020{
    display: flex;
    flex-direction: column;
    flex-basis: 150px;
    margin: 25px;
}
.SI300, .SI301, .SI206, .SI310, .SI422, .SI339, .SI330, .SI364, .SI530{
    background-color: #004466;
    border-style: outset;
    border-width: 8px;
    border-color: #EBEB00;
    padding: 5px;
    color: #DEDEDE;
    margin: 30px;
    font-size: 18px;
    min-height: 75px;
    line-height: 1.6;
    font-family: 'Titillium Web', regular, sans-serif;
}
.Fall2019 a{
    color: #DEDEDE;
}


  footer{
    background-image: url("../images/wood.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 30px;
    padding-top: 30px;
    font-family: 'Open Sans', light, sans-serif;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    min-width: 616px;
    
    
}
footer img{
    border: 0;
    max-width: 150px;
    max-height: 150px;
    
}
.connect{
    grid-row-start: span 1;
    grid-column-start: span 1;
    left: 0;
    bottom: auto;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #004466;
    text-shadow:
     -1px -1px 0 white,  
      1px -1px 0 white,
      -1px 1px 0 white,
       2px 2px 0 white;
       /*Code gotten from: https://css-tricks.com/adding-stroke-to-web-text/ with modification*/
}
.contact p{
    font-size: 18px;
    font-weight: 700;
    color: #004466;
    text-shadow:
     -1px -1px 0 white,  
      1px -1px 0 white,
      -1px 1px 0 white,
       2px 2px 0 white;
}
.phone{
    grid-row: 3/ span 1;
    grid-column: 1/ span 4;
}
.email{
    grid-row: 4/ span 1;
    grid-column: 1/ span 4;
}
.top{
    grid-row: 2/ span 2;
    grid-column: 2/ span 2;
    color: white;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Titillium Web', regular, sans-serif;
    text-shadow: 
    0 1px 0 #ccc, 
    0 2px 0 #c9c9c9, 
    0 3px 0 #bbb, 
    0 4px 0 #b9b9b9, 
    0 5px 0 #aaa, 
    0 6px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(0,0,0,.1), 
    0 1px 3px rgba(0,0,0,.3), 
    0 3px 5px rgba(0,0,0,.2), 
    0 5px 10px rgba(0,0,0,.25), 
    0 10px 10px rgba(0,0,0,.2), 
    0 20px 20px rgba(0,0,0,.15);
    /*Code gotten from: https://cssnewbie.com/10-beautiful-css-text-effects/#.XlGrfShKiUn with modification */
    padding-bottom: 20px;
}
@media all and (min-width:1024px){
    ul.links{
        display: flex;
        flex-direction: row;
    }
    nav{
        width: 925px;
    }
    header{
        font-size: 45px;
        height: 150px;
    }
    .Fall2019, .Winter2020{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    .connect{
        font-size: 28px;
    }
    .contact p{
        font-size: 28px;
    }  
}
  @media all and (min-width:1450px){
    ul.links{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    nav{
        width: 1325px;
    }
    header{
        font-size: 50px;
        height: 200px;
    }
    .Fall2019, .Winter2020{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    footer img{
        height: 300px;
        width: 300px;
    }
    .connect{
        font-size: 33px;
    }
    .contact p{
        font-size: 33px;
    }   
}
